name: coffee_house
description: "A new Flutter project."
publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  mobile_scanner: ^7.1.4

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/images/
    - assets/images/drinks/hot_coffees/
    - assets/images/drinks/tea/
    - assets/images/drinks/iced_coffees/
    - assets/images/drinks/sweets/
    - assets/images/drinks/iced_teas/

